.frameRootRootRoot {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 160px 79px 160px 174px;
}
.flexRow {
  gap: 173px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.image1 {
  width: 422px;
  height: 294px;
}
.flexColumn {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexRow1 {
  gap: 276px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexRow2 {
  gap: 102px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexRow3 {
  gap: 191px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.text6 {
  width: 332px;
  font-size: 22px;
  font-family: Spoqa Han Sans Neo;
  letter-spacing: -0.22px;
}
.flexRow4 {
  gap: 142px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
}
.flexRow5 {
  gap: 188px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
}
