.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  h3 {
    width: 80%;
    margin: 0;
    color: #f8f8f8;
    margin-left: 9vw;
    margin-top: 1rem;
    font-weight: 700;
  }
  &__button {
    margin-top: 64px;
    background-color: #2c2d2d;
    color: #f8f8f8;
    font-family: 'Spoqa Han Sans Neo';
    align-self: start;
    margin-left: 9vw;
    font-weight: 200;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
  }
  &__line {
    // opacity: 0.5;
    margin: 1.6rem 9vw 240px 9vw;
    width: 77%;
    border: 0.5px solid #ababab;
  }
  .content {
    gap: 28px;
    margin-left: 24%;
    margin-top: 64px;
    margin-bottom: 120px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    img {
      width: 24rem;
      height: auto;
    }
    h4 {
      width: 45%;
      margin: 0;
      white-space: normal;
      color: #f8f8f8;
      //   font-family: 'Spoqa Han Sans Neo';
    }
  }
}
