.main__base {
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7%;
  .background {
    position: absolute;
    left: 0em;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
  }
  .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 90%;
  }
  .left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .text_1 {
      color: #f8f8f8;
      font-size: 1.6rem;
      font-weight: 100;
      font-family: Spoqa Han Sans Neo;
      white-space: nowrap;
      letter-spacing: 0.96px;
      @media (max-width: 1600px) {
        font-size: 24px;
      }
    }
    .text_2 {
      margin-top: 0.6rem;
      margin-bottom: 2rem;
      align-self: stretch;
      color: #f8f8f8;
      font-size: 3.2rem;
      font-family: Nexen_B;
      white-space: nowrap;
      @media (max-width: 1600px) {
        font-size: 40px;
      }
    }
  }

  .flat-button {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 19px;
    color: #ffffff;
    font-size: 1rem;
    font-family: Spoqa Han Sans Neo;
    border-width: 1px;
    text-decoration: none;
    border-radius: 0px 0px 24px 0px;
    border-style: solid;
    border-color: #f8f8f8;
    // @media (max-width: 1600px) {
    //   font-size: 16px;
    //   height: 20px;
    //   padding: 12px 16px 12px 12px;
    // }
  }
}
