$primary-color: #0a402c;

// * {
//   border: 1px solid red;
// }
h3 {
  // width: 719px;
  align-self: stretch;
  font-family: 'Spoqa Han Sans Neo';
  color: #2d2d2d;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}
h2 {
  margin: 0;
  color: #ababab;
  font-size: 1.2rem;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
}
h1 {
  font-size: 1.6rem;
  font-family: Nexen_B;
  white-space: nowrap;
  letter-spacing: 0.84px;
  margin: 0;
}
h4 {
  // white-space: nowrap;
  margin: 0;
  color: #2d2d2d;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  font-size: 1rem;
  font-family: Spoqa Han Sans Neo;
}
a {
  color: #747478;
}
